---
---

@import "{{ site.theme }}";

body {
	line-height: 1.5;
}

.site-header {
	background: #212f3d;
}

.site-nav .page-link {
	color: #eaecee;
}

.site-title, .site-title:visited {
	color: #eaecee;
}

.site-logo {
	height: 64px;
	margin: 5px 0px;
}

.site-nav {
	line-height: 68px;
}

h1.post-title, h1.page-heading {
	font-size: 28px;
}

h2.post-list-heading {
	font-size: 28px;
}

.post-content h2 {
	border-bottom: 1px solid #AAA;
	font-size: 20px;
	color: #566573 ;
}

.post-content h3 {
	font-size: 16px;
	color: #566573;
}

ul li + li {
	margin-top: .5em;
}

ul.people {
  list-style: none;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  text-align: center;
	width: 100%;
	display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  row-gap: 15px;

}

ul.people li {
	vertical-align: top;
	width: 200px;
	height: 200px;
	margin: auto;
	padding: 5px;
	border: 1px solid #AAA;    
	background-color: #EEE;
	border-radius: 5px;
	justify-content: center;
}

ul.people li img {
	border-radius: 50%;
	width: 150px;
	height: 150px;
	display: inline-block;
	margin: 10px 0px;
}